.nav-link{
    cursor: pointer;
    border-radius: 20px;

}
.nav-link:hover{
    /* cursor: pointer; */
    background-color: rgb(45, 45, 45);
}
@media (max-width: 990px)
{
    .nav-link{
        border-top: 1px solid gray;
        border-radius: 0;
    }
    .navbar-nav{
        margin-top: 20px;
    }
}