/* .container {
    margin: auto;
    font: normal 20px Arial;
    background-color:#ececec;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .heading {
    color: rebeccapurple;
  }

  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  .nav-link-item {
    padding-right: 1cm;
  }

  .nav-link-text {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .barracima {
    background-color: rebeccapurple;
    height: 50px;
    justify-content: center;
    display: flex;
    text-align: left;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
  }

  .rodape {
    background-color: rebeccapurple;
    min-height: 100px;
    color: white;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .hometext{
    width: 50%;
    text-align: start;
    font: normal 20px Arial;
    display: inline-block;
  }

  .hometitle2{
    color: rebeccapurple;
  }

  .homeimg{
    width: 45%;
    display: inline-block;
    margin-top: 105px;
  }

  .sitetitle{
    color: gray;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
  }

   */