.container{
    max-width: 1140px !important;
}
html, body{
    background-color: #15141a;
    color: white;
}
.light-mode{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.iconsize{
    width: 20px;
}